version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - PORT=8000
    ports:
      - "8000:8000"
    depends_on:
      - redis

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    depends_on:
      - redis

  beat:
    build:
      context: .
      dockerfile: Dockerfile.beat
    depends_on:
      - redis

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
